body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

h1 {
  text-align: center;
}

.col-2,
.col-3,
.col-9,
.col-6 {
  /* padding: 0 16px; */
  margin: 0 16px;
}

.status-container,
.button-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #ff9a15;
  color: white;
  padding: 12px;
  margin: 10px 10px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-size: 17px;
  transform: translate(60%);
}
.btn:hover {
  background-color: #c54540;
}

/* divider */

hr.solid {
  border-top: 5px solid #bbb;
  margin-top: auto;
}
