@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

.titrePanier{
  text-align: center;
  margin-top: 10%;
  font-weight: 1000;
}
.element{
  display: flex;
  flex-direction: row;
  align-items: center;  
  text-align: center;
  margin-top: 4%;
  font-weight: 600 ;
  border-bottom: solid 1px rgb(214, 214, 214);
}
.bouttonCommander{
  width: 300px;
  height: 50px;
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 2.5%;
  margin-bottom: 2.5%;

  background-color: white;
  border: solid black 1px;
}
.bouttonCommander:hover{
  background-color: rgba(230, 230, 230, 0.8);
}
.blockProduit{
  border: solid 1px black;

}
.imageProduit{
  vertical-align: baseline;
}
.blockInfo{
  display: none;
  flex-direction: column;
  text-align: center;
  margin-top: 5%;
}
.redirectionPlacement{
  margin-left: 50%;
  transform: translate(-50%);
  margin-top: 2%;
}
.bouttonProduit{
  width: 150px;
  height: 40px;
  background-color: white;
  border: solid black 1px;
  font-weight: 700;
}
.bouttonProduit:hover{
  background-color: rgba(230, 230, 230, 0.8);
}
.bouttonSupprimer{
  background-color: white;
  border: solid black 1px;
  width: 150px;
  text-align: center;
  height: 40px;
  color: red;
  cursor: pointer;

}
.bouttonSupprimer:hover{
  border: solid red 1px;
  color: white;
  background-color: red;
}